.phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #242424;
    border-radius: 30px;
    width: 375px;
    height: 812px;
    align-items: center;
    background-color: rgb(185, 185, 185);
}
body {
    display: flex;
    background: #000000;
    justify-content: center;
    margin: 0;
    padding: 3em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.header-width {
    width: 100%;
}
.header-padding {
    padding: 28px 40px 48px 40px;
}
.text {
    color: black;
    
}