.phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid #242424;
    border-radius: 30px;
    width: 375px;
    height: 812px;
    align-items: center;
    background-color: rgb(226, 226, 226);
}
body {
    display: flex;
    background: #444444;
    justify-content: center;
    margin: 0;
    padding: 3em;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.header-width {
    width: 100%;
}
.header-padding {
    padding: 28px 40px 48px 40px;
}
.text {
    color: black;
    
}
.button-index {
    padding: 10px 20px;
    background-color: rgb(0, 168, 197);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}

.button-index:hover {
    background-color: #0056b3;
}
